<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>公主結社 報刀系統</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/2.1.12/vuetify.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <link rel="icon" href="https://66.media.tumblr.com/6e94e8bf9dd654e63af622f0ce9913d7/tumblr_puyux2INmL1x73yfbo6_250.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
    <span style="background: url(./img/111131.webp) center; background-size: contain; position: fixed; top: 0;left: 0; height: 100vh; width: 100vw;"></span>
    <div id="app">
        <v-container>
            <v-row style="justify-content: center;">
                <v-col cols="12" lg="8" class="text-center">
                    <h3>
                        <b class="white--text" v-text="message">
                        </b>
                    </h3>
                </v-col>
                <v-col cols="12">
                    <v-card color="rgb(255, 255, 255, 0.1)">
                        <v-toolbar flat dark color="rgb(0, 0, 0, 0.8)">
                            <v-icon left>fab fa-optin-monster</v-icon>
                            <v-toolbar-title v-text="default_text.subTitle">
                            </v-toolbar-title>
                        </v-toolbar>
                    </v-card>
                    <v-card>
                    	<v-form class="p-5">
                            <v-text-field
                            v-model="password"
                            :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                            :rules="[rules.required, rules.min]"
                            :type="show1 ? 'text' : 'password'"
                            name="input-10-1"
                            label="询问会长这期密码"
                            hint="At least 8 characters"
                            counter
                            @click:append="show1 = !show1"
                          ></v-text-field>
                          <v-btn v-text="default_text.submit" @click="submitQueue"></v-btn>
                        </v-form>
                    </v-card>
                </v-col>
                <v-snackbar v-model="snackbar">
                    {{ text }}
                    <v-btn color="pink" text @click="snackbar = false">
                        Close
                    </v-btn>
                </v-snackbar>
            </v-row>
        </v-container>
        <v-overlay :value="overlay" :opacity="opacity">
            <v-progress-circular indeterminate size="64">
                <v-img src="./img/loading.gif"></v-img>
            </v-progress-circular>
          </v-overlay>
        <v-footer padless style="position: fixed; bottom: 0;width: 100%;">
            <v-col class="text-center lighten-2 " cols="12 " color="rgb(0, 0, 0, 0.5) ">
                <small>
                     <strong>Power by Hibiki</strong> — &copy;{{ new Date().getFullYear() }}
                </small>
            </v-col>
        </v-footer>

    </div>

    <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-firestore.js "></script>
    <script defer src="./js/init-firebase.js"></script>

</body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-select/3.4.0/vue-select.js "></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js "></script>
<script>


    // Vue.prototype.$vuetify.theme = {
    // primary: '#3f51b5',
    // secondary: '#b0bec5',
    // accent: '#8c9eff',
    // error: '#ff00ff'
    // };
    var app = new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data: {
            db: '',
            valid: true,
            message: '公主结社 报刀系统',
            name: '',
            target: '',
            snackbar: false,
            overlay: true,
            text: '',
            password: 'Password',
            rules: {
            required: value => !!value || 'Required.',
            min: v => v.length >= 8 || 'Min 8 characters',
            emailMatch: () => ('The email and password you entered don\'t match'),
            },
            default_text:{
                subTitle:'公主結社 戰隊賽 狀況',
                onGoing:'正式戰',
                ready:'預選（排隊中)',
                battleComplete:'戰鬥結束',
                battleStart:'戰鬥開始',
                onBattle:'戰鬥中',
                submit:'登录',
                wave:'段階目',
                team:'推薦隊伍',
                team:'推薦隊伍',
            },
        },
        mounted: function() {
            this.$vuetify.theme.primary = '#5E35B1';
            this.$vuetify.theme.success = '#8BC34A';
            var firebaseConfig = {
                apiKey: "AIzaSyC0VuR-Bt32-o9yaZWlR7AXWhd7twOqKBs",
                authDomain: "countingdatabase.firebaseapp.com",
                databaseURL: "https://countingdatabase.firebaseio.com",
                projectId: "countingdatabase",
                storageBucket: "countingdatabase.appspot.com",
                messagingSenderId: "155011884318",
                appId: "1:155011884318:web:519e48a2c6dd4187b2550f"
            };
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);
            var db;
            this.db = firebase.firestore(app);
            let waitingRef = this.db.collection('waitingList').orderBy("time");
            let waitingList = waitingRef.get()
                waitingList.then(snapshot => {
                    snapshot.forEach(doc => {
                        const data = {
                            'id': doc.id,
                            'name': doc.data().name,
                            'status': doc.data().status,
                            'time': doc.data().time,
                            'target': doc.data().target
                        }
                        console.log(doc.id, '=>', doc.data());
                        console.log(this.atkList1);
                        this.overlay = false;
                    });
                })
                .catch(err => {
                    console.log('Error getting documents', err);
                });
        },
        methods: {
            submitQueue() {
                console.log('function runing')
                window.location.href = "abc.html";
                // var date = new Date();
                // var timestamp = date.getTime();
                // this.db.collection("waitingList").add({
                //         name: this.name,
                //         target: target,
                //         time: timestamp,
                //         status: false
                //     })
                //     .then(function(docRef) {
                //         location.reload(); 
                //     })
                //     .catch(function(error) {
                //         console.error("Error adding document: ", error);
                //         this.snackbar = true;
                //         this.snackbarText = "提交失败,请再试一次"
                //     });
                //     this.overlay = true;
                //         this.text = "成功提交"
                //     this.snackbar = true;
            },
        }
    })
</script>
<style>
.v-card,
.v-item-group{
    background-color: rgba(255, 255, 255, 0.3) !important;
}
</style>

</html>